/* CSS Document */

.celdaSelected
{
	border:1px solid #F0690E;	
}

.celdaAbajo
{
	border-bottom: 1px solid #8C2F04;	
}

.celdaArriba
{
	border-bottom: 1px solid #8C2F04;	
}

.celdaIzq
{
	border-left: 1px solid #8C2F04;	
}

.celdaDer
{
	border-right: 1px solid #8C2F04;	
}
td{
	width: auto;
	min-width: 40px;
	height: 30px;
	min-height: 30px;	
	/*border: 1px solid #2F2929;*/
	padding: 0.1em;
}

tr{
	border: none;
}