/* CSS Document */

#divTerreno{
  position:relative;
  width:720px;
  height:540px;  
  background:url(../images/terreno.jpg) no-repeat;
  background-size:100% 100%;
}

.player
{
   position:absolute;
   width:20px;
   height:50px;
   left:0px;
   top:0px;	
   
}

.leftOne
{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.row
{
	padding: 0px;
	
}

#golTeam1, #golTeam2
{
	font-size: 20px;	
	color: beige;	
}

.col-lg-4,.col-md-4,.col-sm-4
{
	padding: 1px;
	
}

#ball{
  background:url(../images/ball.gif) no-repeat;
  background-size:100% 100%;
  width:10px;
  height: 10px; 
  left:0px;
  top:0px;
  position:absolute;
  z-index: 10000;
}



 

#btnToggle{
	top: 20px;
	right: 20px;
}
 

#pizarra .d-flex
{
	padding:0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}
.imgVolteada
{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


